<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>

<p> <%= "Printataan nimet" %></p>
<% @posts.each do |post| %>
  <p> <%= post.id %></p>

<% end %>

<p>post, jonka ID on 5</p>
<p> <%= Post.find(6).name %></p>

<%= "lasketaan post määrät" %>
<p> <%= Post.count %></p> 
<%# <%= link_to 'Edit', edit_post_path(@posts.find(1)) %>


<%= link_to 'Luo', luo_path %>